table {
	border: 1px solid silver;
}
td:hover {
	background-color: yellow;
	color: black;
}
tr, th {
	background-color: black;
	color: cornsil;
}
tr, td {
	background-color: darkgreen;
	color: white;
}
<link rel="stylesheet" type="text/css" href="CSS_table.css">